<!DOCTYPE html>
<html>
  <head>
    <!--
      note for dev on cloud9
      url to app is: rails-tutorial-jrforce.c9users.io:8080/static_pages/home
      to start the server: bundle exec rails s -b $IP -p $PORT
    -->
    <title><%= full_title(yield(:title)) %></title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class='container'>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
